body{
    background-color: #000;
}

main .personagem{
    display: none;
    height: 100vh;
}
main .selecionado{
display: block;
}
main .personagem .img{
width: 100%;
height: 100%;
object-fit: cover;
}

.conteudo{
    background-color: orange;
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 380px;


}

.conteudo .nome-personagem{
    
}